@font-face {
  font-family: "iconfont"; /* Project id 4759360 */
  src: url('iconfont.woff2?t=1732547902293') format('woff2'),
       url('iconfont.woff?t=1732547902293') format('woff'),
       url('iconfont.ttf?t=1732547902293') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-APK:before {
  content: "\eba2";
}

.icon-EXE:before {
  content: "\eba3";
}

.icon-GIF:before {
  content: "\eba4";
}

